/* style.css */
/* Base Styles */
body {
    font-family: "Roboto", sans-serif;
      background-color: #f8f9fa;
     
    }
  
  #contact{  --tw-gradient-from: #03050c var(--tw-gradient-from-position);
  }
  body{
    overflow-x: hidden;
  }
  #about{
    background: linear-gradient(to right, #c7c8d4, #6f67b5);
  }
  #projects{
    background: linear-gradient(to right, #dcddec, #aa61ca);
  }
